<div class='box'>
  <app-loading *ngIf="!postForm || !(channels | async)" full message='読み込み中...'></app-loading>


  <form nz-form (ngSubmit)="onSubmit()" [formGroup]="postForm">
    <div nz-form-item nz-row>
      <div nz-form-control nz-col >
        <nz-select formControlName="channelUID" [nzSize]="'large'">
          <nz-option
            *ngFor="let channel of channels | async"
            [nzLabel]="channel.name"
            [nzValue]="channel.id">
          </nz-option>
        </nz-select>
      </div>
    </div>
    <div nz-form-item nz-row>
      <div nz-form-control nz-col >
        <nz-input formControlName="title" [nzSize]="'large'" [nzPlaceHolder]="'タイトル'"></nz-input>
      </div>
    </div>
    <div nz-form-item nz-row>
      <div nz-form-control nz-col >
        <div nz-row [nzGutter]="16">
          <div nz-col [nzXs]="24" [nzSm]="12">
            <div class='editor' style='border-radius:4px;'>
              <app-loading *ngIf="uploading" full message='アップロード中...'></app-loading>
              <nz-input formControlName="body" [nzRows]="20" [nzType]="'textarea'" [nzPlaceHolder]="'Markdown記法が有効です'" [nzSize]="'large'">
               </nz-input>
            </div>
          </div>
          <div nz-col [nzXs]="0"[nzSm]="12">
            <div class="box preview" style="height:374px;">
              <markdown [data]="postForm.controls.body.value"></markdown>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div nz-form-item nz-row>
      <div nz-form-control nz-col >
        <button nz-button [nzSize]="'large'" [nzType]="'primary'" style='width: 100%;'>投稿</button>
      </div>
    </div>
  </form>

</div>
