<sm-menu title="MinMi" class="fixed inverted violet" >
  <a sm-item *ngFor="let item of items" [icon]="item.icon" routerLink="{{item?.path}}" >{{item?.title}}</a>
  <sm-menu class="menu right secondary">
    <sm-item *ngIf="!userService.currentUser" routerLink="/login">
      ログイン
    </sm-item>
    <sm-button *ngIf="userService.currentUser" class="mini right orange " style="margin:6px;" routerLink="/posts/new">記事を書く</sm-button>
    <sm-dropdown *ngIf="userService.currentUser" title="{{ (userService.currentUser | async)?.displayName }} " class="floating icon button" [options]="{ action: 'hide' }">
      <sm-item (click)="logout()">
        ログアウト
      </sm-item>
    </sm-dropdown>
  </sm-menu>
</sm-menu>
