<div nz-row [nzGutter]="8">
  <div nz-col [nzSpan]="6">
    <div *ngFor="let channel of channels | async"
      style='padding: 8px;margin-bottom:8px;'
      class="box clickable {{currentChannelID== channel.id ? 'active' : ''}}"
      (click)="selectChannel(channel)"
      [routerLink]="['/']"
      [queryParams]="{ channel_id: channel.id }"
    >
      <!-- class="{{ }}" -->
      <div class='clearfix'>
        <nz-avatar style='float:left;' [nzShape]="'square'" [nzSize]="'large'" [nzIcon]="'user'" nzSrc="{{channel.photoURL}}"></nz-avatar>
          <h3 style='float:left; margin-left:8px; margin-top: 8px;'>{{channel.name}}</h3>
      </div>
      <p style='margin-top:4px;'>{{channel.description}}</p>
    </div>
    <button style='width:100%;' nz-button [nzType]="'primary'" [nzSize]="'large'" routerLink="/channel/new">
      <i class="anticon anticon-plus"></i>
      <span>チャンネルを追加</span>
    </button>
  </div>
  <div nz-col [nzSpan]="12">
    <nz-tabset (nzSelectChange)="selectType($event)">
      <nz-tab *ngFor="let tab of tabs">
        <ng-template #nzTabHeading>
          <i [ngClass]="tab.icon"></i>
          {{tab.name}}
        </ng-template>
        <div *ngIf="tab.name=='ストリーム'">
          <app-post-edit-mini *ngIf="currentChannelID" [channelID]="currentChannelID" ></app-post-edit-mini>

          <span *ngIf="currentChannelPostSize == 0">投稿がありません</span>
          <div *ngFor="let post of currentChannelPosts | async" class='box'>
            <app-post-segment (refresh)="selectChannelById(post.channelUID)" [post]="post"></app-post-segment>
          </div>
        </div>
        <div *ngIf="tab.name=='まとめ'" class='box'>
          <h2 class='header'>
            <i class="anticon anticon-flag"></i>
            まとめ
            <small>記事がいい感じにまとめられています</small>
          </h2>
          <br>
          まとめが作成されていません。
        </div>
      </nz-tab>
      <ng-template #nzTabBarExtraContent>
        <button
          nz-button
          [routerLink]="[types[type].path]"
          [queryParams]="{ channel_id: currentChannelID }"
        >{{types[type].actionLabel}}</button>
      </ng-template>
    </nz-tabset>

  </div>
  <div nz-col [nzSpan]="6">
    <div class='box'>
      <h3 class='header'>話題のまとめ</h3>
      <br>
      話題のまとめはありません
    </div>
  </div>
</div>
